.main-above-container {
  background: #bbedf9;
  height: 300px;
}
.main-above-container img {
  margin-left: 190px;
}
.main-above-container span {
  color: rgb(231, 161, 75);
}
.main-above-container h1 {
  margin-top: -201px;
  margin-left: 500px;
}
.main-above-container p {
  margin-left: 588px;
  font-size: x-large;
  line-height: 0.5;
}
.main-above-container input {
  margin-left: 467px;
  width: 362px;
  padding-left: 15px;
  height: 50px;
  border: none;
}
.main-above-container button {
  height: 53px;
  border: none;
  width: 167px;
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(255 187 56 / var(--tw-bg-opacity));
}
